#characterSelection {
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 800px;
}

#characterSelection .container {
    padding: 10px;
    font-size: 15px;
    text-align: left; 
}

#charInfo {
    width: 130px;
    margin: 0;
}

#charInfo img {
    width: 100%;
    height: 135px;
    border: 1px solid;
}

#charDescription {
    margin: 0;
    border: 1px solid;
    text-align: center;
    width: 110px;
    height: 155px;
    overflow-y: scroll;
}
#charDescription p {
    text-align: justify;
    line-height: 1.5;
    margin: 0;
}

#attributes {
    width: 300px;
}

#stats .container {
    text-align: right;
}

#skills .container {
    text-align: right;
}

#rosterDisplay {
    border: 1px solid;
    text-align: center;
    width: 340px;
    height: 310px;
    overflow-y: scroll;
}

#rosterDisplay h3 {
    margin: 0;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 20px;
}

#roster {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#roster .charImage {
    height: 90px;
    width: 100px;
    border: 1px solid;
    margin: 5.5px;
}

#actionButtons {
    gap: 10px;
    display: flex;
    justify-content: flex-end;
    width: 99%;
}

#actionButtons .action {
    padding: 15px;
}
