#characterSelectionScreen {
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 800px;
}

#characterSelectionScreen .infoPanel {
    padding: 10px;
    font-size: 15px;
    text-align: left;
}

#characterInfo {
    width: 130px;
    margin: 0;
}

#characterInfo img {
    width: 100%;
    height: 135px;
    border: 1px solid;
}

#characterDescription {
    margin: 0;
    border: 1px solid;
    text-align: center;
    width: 110px;
    height: 155px;
    overflow-y: scroll;
}
#characterDescription p {
    text-align: justify;
    line-height: 1.5;
    margin: 0;
}

#characterAttributes {
    width: 300px;
}

#characterStats .infoPanel {
    text-align: right;
}

#characterSkills .infoPanel {
    text-align: right;
}

#rosterPanel {
    border: 1px solid;
    text-align: center;
    width: 340px;
    height: 310px;
    overflow-y: scroll;
}

#rosterPanel h3 {
    margin: 0;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 20px;
}

#roster {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#roster .rosterCharacterImage {
    height: 90px;
    width: 100px;
    border: 1px solid;
    margin: 5.5px;
}

#selectionActions {
    gap: 10px;
    display: flex;
    justify-content: flex-end;
    width: 99%;
}

#selectionActions .actionButton {
    padding: 15px;
}
