#gameModeScreen {
    display: none;
    flex-direction: column;
    gap: 20px;
}

#gameModeScreen button {
    font-size: 20px;
    padding: 10px;
}

#pvpButton {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
    user-select: none;
}
