#mainMenuScreen {
    display: none;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

#mainMenuScreen button {
    padding: 20px;
    font-size: 20px;
    width: 35%;
}

#mainMenuScreen a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

#siteFooter {
    display: flex;
    gap: 500px;
    font-size: 15px;
}

