#turn-selection-screen {
    display: none;
    flex-direction: column;
    gap: 20px;
}

#turn-selection-screen button {
    font-size: 20px;
    padding: 10px;
}

#coin-bet-button {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
    user-select: none;
}
